body {
    background-color: rgba(240, 230, 140, 0.521);
}
h3{
    color: darkolivegreen;
}
a {
    color:maroon;
}
a.about {
    float: right;
    padding: 20px;
}
a.contact {
    float: right;
    padding: 20px;
}
a.portfolio  {
    float: right;
    padding: 20px;
}
header {
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: solid darkslategray;
    
}
#name {
    background: darkolivegreen;
    width: 16%;
    padding: 5px;
    margin-left: 225px;
    color: antiquewhite;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutMe {
    float: left;
    position: relative;
    width: 35%;
    height: 300px;
    margin-left: 250px;
    margin-top: 0;
    background-color: white;
    
    
}
/*section {
        padding: 20px;
        margin-bottom: 20px;
        background: white;
}*/
#about {
    color: darkolivegreen;
    padding-top: 15px;
    background-color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#hippie {
    float: left;
    padding: 15px;
    width: 100px;
    height: 100px;
   
}
#bio{
    font-size: 15px;
    padding: 10px;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

#connect{
    float: right;
    width: 15%;
    background-color: white;
    text-align: center;
    margin-right: 100px;
}
#git{
    width: 70px;
    height:70px;
}
#in{
        width: 70px;
        height:70px;
    }
#stack{
    width: 70px;
    height:70px;
}
footer {
    border-top: solid darkslategray;
    position: absolute;margin-right: 100px;
    bottom: 0%;
    width: 100%;
    padding: 20px;
    background: darkolivegreen;
    text-align: center;
    clear: both;
  }