body {
    background-color: rgba(240, 230, 140, 0.521);
}
h3{
    color: darkolivegreen;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
a {
    color:maroon;
}
a.about {
    float: right;
    padding: 20px;
}
a.contact {
    float: right;
    padding: 20px;
}
a.portfolio  {
    float: right;
    padding: 20px;
}
header {
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: solid darkslategray;
    
}
#name {
    background:darkolivegreen;
    width: 16%;
    padding: 5px;
    margin-left: 150px;
    color: antiquewhite;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#contact{
    
    color: darkolivegreen;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#id{
    float: left;
}
#info{
    float: left;
    font-weight: bold;

}
#email{
    font-weight: bold;
}
#message{
    font-weight: bold;

}
section{
    background-color: white;
    width: 40%;
    margin-left:150px;
}
#connect{
    float: right;
    width: 15%;
    background-color: white;
    text-align: center;
    
}
#git{
    width: 70px;
    height:70px;
}
#in{
        width: 70px;
        height:70px;
    }
#stack{
    width: 70px;
    height:70px;
}
footer {
    position: relative;
    bottom: 0%;
    width: 100%;
    padding: 20px;
    background: darkolivegreen;
    text-align: center;
    clear: both;
    border-top: solid darkslategray;
  }